@font-face {
  font-family: 'Gelasio';
  src: url('fonts/Gelasio-VariableFont_wght.ttf') format('woff2 var able');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    font-family: 'Gelasio', serif;
}